
*{
    font-weight: 500;
    font-size: 18px;
    color: #fafafa;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


html,body{
    width: 100%;
    scrollbar-width: none;
}


body{
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* NAVEGADOR */

nav{
    display: flex;
    flex-wrap: wrap;
    position: fixed;
    top: 0;
    background-color: #00000033;
    width: 100%;

    z-index: 3;

    max-width: 100%;
}



nav ul{
    align-items: center;

    display: flex;
    margin: 0;
    width: 100%;
    flex-direction: row;

    list-style: none;
}

nav ul a{
    text-decoration: none;
    width: 100%;
    height: 100%;
    padding: 14px;

    cursor: pointer;
    border: none;
    background: none;
}

nav ul a :hover{
    color: rgb(220, 220, 220) !important;
    opacity: 0.8;
    transition: 0.3s;
}


nav ul a li{
    margin: 0;
    width: 100%;
    align-items: center;
    text-align: center;
}

main{
    display: flex;
    /* background: radial-gradient(ellipse at center, #1e2249, #000000);  */
    background: #7c9eff;
    /* background: #1e2249; */
    flex-direction: column;

    width: 100%;
    min-height: 100vh;
}

/* @keyframes example { */
    /* from {background-color: #000000;} */
    /* to {background-color: #1e224F;} */
  /* } */

/* 
    #1e2249
    rgba(8,8,8,255)
    #080808
*/


section{
    /* animation-fill-mode: both; */
    /* animation-direction: alternate; */
    /* animation-name: example; */
    /* animation-duration: 4s; */
    /* animation-iteration-count: infinite; */
    
    align-items: center;
    justify-content: center;

    margin-top: 30px;
    padding: 10px;
    width: 100%;
    
    display: flex;
    flex-direction: column;
    background: none;
}

#pfp-Lucas{
    margin-top: 12px;
    width: 300px;
    border-radius: 30%;
    aspect-ratio: 1; /* Se ajusta al mismo valor que el width */
    object-fit: cover;
}

p{
    margin-top: 12px;
    margin-bottom: 12px;
}

h1{
   font-size: 2.5em;
}

h2{
    font-size: 2em;
}

h3{
    font-size: 1.5em;
}


/* INICIO / PRESENTACION */

#presentacion{
    /* https://e1.pxfuel.com/desktop-wallpaper/794/203/desktop-wallpaper-programming-18-programming.jpg */
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("./imgs/student-8732859_1920.png");
    border: none;
    /* 
    https://img.freepik.com/fotos-premium/escritorio-cuero-oscuro-moderno-vista-superior-fondo-negro-teclado-lugar-maqueta_67155-16371.jpg
    
    */
    
    
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    
    align-items: center;
    justify-content: center;
    text-align: center;

    z-index: 0;
}


.links-redes{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;

    gap: 32px;
}

.redes{
    margin-top: 14px;
    background-color: #fafafa;
    width: 40px;
}


#github-lucas{
    border-radius: 50%;
}

#linkedin-lucas{
    border-radius: 10%;
}

#wpp-lucas{
    border-radius: 45%;
}

#github-lucas:hover, #linkedin-lucas:hover, #wpp-lucas:hover{
    transition: 0.3s;
    background-color: #7c9eff;
}


/* ALGO */

#algo1, #algo2{
    margin: auto;
    width: 100%;
    height: 10vh;
}

#algo1{
    background: linear-gradient(#fafafa , #7c9eff);
}

#algo2{
    background: linear-gradient(#7c9eff, #fafafa );
}

/* ACERCA DE MI  */

#nube1, #nube2, #nube3{
    display: flex;
    width: 200px;
}

.about-me{
    width: 100%;
    max-width: 1100px;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 0;

}

#pfp-about-me{
    margin-right: 0;
    width: 100%;
    display: flex;
    align-items: left;
    justify-content: center;
    text-align: center;
    padding: 10px;
    max-width: 400px;
}

#texto-about-me{

    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: left;
    
    
    text-align: left;
    padding: 10px;
    
    width: 100%;
    max-width: 700px;
}


/* PROYECTOS MIOS */

#proyectos{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    text-align: left;


    width: 100%;
}

img{
    width: 40px;
}


.proyecto{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: left;
    background-color: white;
    
    

    border: thin red solid;
    border-radius: 10px;
    
    max-width: 1000px;
    width: 100%;
}

.imagen-proyecto{
    margin-left: 0;
    width: 400px;
    border-radius: 10px;
}

.texto-proyecto{

}



/* Habilidades y tecnologias */

#habilidades{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    text-align: center;

    width: 100%;
}

#div-herramientas{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    list-style: none;
    
    margin-top: 12px;
    gap: 32px;

    max-width: 1100px;
}

.cada-herramienta{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;


    padding: 10px;
    width: 150px;

    background-color: black;
    border-radius: 20%;
    box-shadow: 0px 20px 60px #112;
}


.herramientas{
    margin-top: 12px;
    width: 100px;
    object-fit: contain ;
    aspect-ratio: 1;
}

/* Contacto */

#contacto{
    width: 100%;
    display: flex;  
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    align-items: center;
}

#form-contacto{
    width: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

#nombre-correo{
    background: none;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    gap: 10px;
    max-width: 1100px;
}


#input-nombre,#input-email{
    color: #112;
    background-color: #fafafa;
    margin-top: 20px;
    padding: 10px;
    text-align: left;
    width: 100%;
    max-width: 1100px;
    box-shadow: 20px 40px 10px #112;
}


#input-consulta,#input-texto{
    color: #112;
    background-color: #fafafa;
    margin-top: 20px;
    padding: 10px;
    text-align: left;
    width: 100%;
    max-width: 1100px;
    box-shadow: 20px 40px 10px #112;
}

#input-texto{
    height: 20vh;
    overflow: hidden;
    box-shadow: 20px 40px 10px #112;
}

#enviar{
    color: black;
    border-radius: 10px;
    width: 150px;
    background-color: aliceblue;
    padding: 6px;
    margin-top: 45px;
    margin-bottom: 100px;
}

#enviar:hover{
    background-color: rgb(220, 220, 220);
    transition: 0.4s;
}



/* Foooter */

footer{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 10vh;
    background-color: #fafafa;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;


    border: none;
}